<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jsp_demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Cookie_sample</display-name>
    <servlet-name>Cookie_sample</servlet-name>
    <servlet-class>Cookie_sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie_sample</servlet-name>
    <url-pattern>/Cookie_sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookie</display-name>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>ReadCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/ReadCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSession</display-name>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>CreateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadSession</display-name>
    <servlet-name>ReadSession</servlet-name>
    <servlet-class>ReadSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadSession</servlet-name>
    <url-pattern>/ReadSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsingBean</display-name>
    <servlet-name>UsingBean</servlet-name>
    <servlet-class>UsingBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsingBean</servlet-name>
    <url-pattern>/UsingBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Details</display-name>
    <servlet-name>Details</servlet-name>
    <servlet-class>Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
</web-app>